body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  text-decoration: none;
}

button.active {
  /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#b793d8+1,9c3cea+39,1100d6+100 */
  background: #b793d8; /* Old browsers */
  background: -moz-linear-gradient(left, #b793d8 1%, #9c3cea 39%, #4435e7 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(left, #b793d8 1%,#9c3cea 39%,#4435e7 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to right, #b793d8 1%,#9c3cea 39%,#4435e7 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b793d8', endColorstr='#4435e7',GradientType=1 ); /* IE6-9 */
  
  color: whitesmoke;
}

.dog-masonry-grid {
  background-color: lightgray;
  display: flex;
  height: auto;
  margin: 1rem; 
}
.dog-masonry-grid_column {
  background-clip: padding-box;
  padding: 1rem;
}

.dog-masonry-grid_column > img { 
  background: grey;
  margin-bottom: 1rem;
  max-width: 95%;
}

main {
  height: 100vh;
  width: 90vw;
  margin: 1rem;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 1rem;
}

.wrapper {
  display: grid;
  margin: 1rem 2rem;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 1rem;
  background-color: #fff;
  color: gray;
}

.box {
  background-color: gray;
  color: #fff;
  padding: 0 0.5rem;
  font-size: 1rem;
}

main header h1 {
  color: #D653ED;
  font-family: Nunito;
  font-size: 1.5rem;
  text-align: left;
}

main .img-container {
  width: 100%;
  margin-top: 5%;
  padding: 2em 0;
}

/* animation for the dog spinner */
main .img-container .spinner {
  font-size: 50px;
  animation: spin 2s linear infinite;
  display: none;
}

main .img-container .dog-img {
  display: none;
  width: 80%;
  margin: 1em auto;
}

main .img-container .show {
  display: block;
}

/* rotate the dog spinner 360deg - keyframes */
@keyframes spin {
  to {
    -webkit-transform: rotateZ(360deg);
            transform: rotateZ(360deg);
  }
}

/* media query */

@media only screen and (min-width: 320px) {
  .container header {
    display: flex;
    flex-direction: column;
  }
  .container header h1 {
    color: #9B4BD1;
    margin-bottom: 20px;
  }
}

@media only screen and (min-width: 650px) {
  .container header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    flex-direction: row;
  }
}

@media only screen and (min-width: 875px) {
  .container {
    max-width: 90vw;
    margin: 0 auto;
  }
}

@media only screen and (min-width: 1600px) {
  .container {
    max-width: 80vw;
    margin: 0 auto;
  }
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
